* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 40px 0;
}
h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
.projects {
  display: grid;
  grid-template-columns: repeat(2, 590px);
  grid-template-rows: repeat(2, 756px);
  column-gap: 30px;
  row-gap: 60px;
  justify-content: center;
  justify-items: center;
}

.project-item:hover {
  transform: translateY(-5px);
}
.project-item img {
  border-radius: 10px;
}
.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
  background: #e0d7cd;
  padding: 30px;
  border-radius: 10px;
  color: #cda274;
  background-color: F4F0EC;
}
.stat-item1 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 128px;
  text-align: center;
  letter-spacing: 1.7px;

  color: #cda274;
}
.stat-item2 {
  margin: 0;
  font-size: 32px;
}
.stat-item p {
  color: #555;
}

ul {
  list-style: none;
}

.div21 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img1 {
  width: 70px;
  height: 70px;
}

.stat-item:not(:last-child) {
  border-right: 1px solid #cda274;
  margin-right: 1px;
  padding-right: 50px;
}
.p4 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;

  color: #4d5053;
  width: 786;
  margin-bottom: 190px;
}

.h2 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 128px;
  text-align: center;
  letter-spacing: 1.7px;

  color: #cda274;
}

.p3 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;

  color: #4d5053;
}

.p1 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.22px;
  color: #292f36;
}
